<!doctype html>
<html>
  <head>
    <title>Index</title>
    <h1>Index</h1>
  </head>

  <form action="/student" method="post">
    Student Name: <input type="text" name="student[name]">
    Student Grade: <input type="text" name="student[grade]">
    <input type="submit">
  </form>

  <body><h2> </h2>
  </body>
